mat-form-field, textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
    width: 50%;
    height: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-button {
    margin-bottom: 20px;
}