<mat-card>
    <mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading"> <!-- Here is where the submit function from the button goes for when the FORM is submitted 
                                    add local reference #postForm-- gives us access to the form object angular created for us
                                    then pass postForm as an argument to onAddPost --> 
        <mat-form-field>
            <input 
            matInput 
            type="text"
            name="title" 
            [ngModel]="post?.title"
            required
            minlength="3"
            placeholder="Enter a title"
            #title="ngModel"> <!-- [ngModel]="post.title" is one-way binding
                When you add the <form> above, the ngModel no longer needs to be told which element to bind to, but needs a name.
                [(ngModel)]="enteredTitle" two way binding, also with enteredContent below. get user input. 
                Now add HTML5 built-in validators to make sure the text that is entered is kosher
                #title adds a local reference for the error message below -->
            <mat-error *ngIf="title.invalid">
                Please enter a post title.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            rows="6"
            name="content" 
            [ngModel]="post?.content"
            required
            placeholder="Enter a post"
            #content="ngModel"></textarea> <!-- required causes this field to have to be filled in when the form is submitted in order to be submitted. -->
            <mat-error *ngIf="content.invalid">
                Please enter post content.
            </mat-error>
        </mat-form-field>
            <div>
                <button class="image-button" mat-stroked-button type="button" (click)="filePicker.click()">Choose Image</button>
                <!--                vv add this local reference so you can reference it here ^^^ -->
                <input type="file" #filePicker>
            </div>
        <button mat-raised-button color="primary" type="submit">Save Post</button>
        <!-- (click)="onAddPost() don't want to use this anymore because the button knows now that it's going
        to be connected to the form. Now need to give it a type submit. -->
    </form>
</mat-card>