mat-form-field, textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
    width: 50%;
    height: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-button {
    margin-bottom: 20px;
}

.image-preview {
    height: 5rem;
}

.image-preview img {
    height: 100%;
    margin-left: -13rem;
}

.oneline {
    display: inline-flex;
}