<mat-accordion>
    <mat-expansion-panel *ngFor="let post of posts"> <!-- "posts" here is the variable defined in the ts file while post is any name you give it that will be stored here. -->
        <mat-expansion-panel-header>
            {{ post.title }} <!-- like in the ts file where we declared title  -->
        </mat-expansion-panel-header>
                <p>
                    {{ post.content }} <!-- like in the ts file where we declared content  -->
                </p>
    </mat-expansion-panel>
</mat-accordion>