/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("https://image.freepik.com/free-vector/simple-background-with-gray-leaves_52683-25365.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}